body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:fofotoffs:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }


.nav_menu .active{
  background-color: #6a7f7f;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
}

.hidden {
  display: none; }

.main_head{
  width: 100%;
  min-height: 650px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100%;
  background-size: cover;
}
.head_contact{
  width: 100%;
  min-height: 84px;
  background: #fff;
}
.head_contact{
  padding: 0 0 30px;
}
.menu_head{
  padding: 30px 0;
  border-bottom: 1px solid #679090;
}
.menu_head_left>span{
  display: inline-block;
  font-family: "ProximaNovaBold";
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
  padding-right: 20px;
  letter-spacing: 1px;
}
.phone{
  border-left: 1px solid #679090;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}
.phone i{
  display: inline-block;
  font-size: 15px;
  color: #bec8c8;
  vertical-align: middle;
}
.phone span{
  display: inline-block;
  font-family: "Monsterat-Regular";
  font-size: 13px;
  color: #fff;
  vertical-align: middle;
  font-weight: 700;
  line-height: 
}
.nav_menu{
  width: auto;
  height: auto;
  text-align: right;
  display: block;
  margin: 0px;
  padding: 0px;
}
.nav_menu li a{
  list-style-type: none;
  display: inline-block;
  color: #c6cccc;
  text-transform: uppercase;
}
.nav_menu li:last-child{

}
.nav_menu li{
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Monsterat-Regular";
  font-size: 13px;
  line-height: 33px;
}
.nav_menu a:hover{
  color: #fff;
}
.main_mnu_button {
  position: absolute;
  /*left: 50%;*/
  right: 0;
  padding: 8px 15px 0;
  border: medium none;
  background-color: transparent;
  font-size: 26px;
  color: #fff;
  outline: none;
  top: -42px;
}
.maian_mnu a {
  display: block;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.smart{
 margin-top: 215px;
}
.smart h1{
  font-family: "RobotoRegular";
  font-size: 38px;
  color: #fff;
  padding: 10px;
}
.smart p{
  font-family: "RobotoRegular";
  font-size: 16px;
  color: #fff;
}
.smart a{
  display: inline-block;
  font-family: "Monsterat-Regular";
  font-size: 14px;
  color: #fff;
  padding: 20px 45px;
  background-color: #6fb048;
  text-transform: uppercase;
  margin: 25px 0 25px;
}
.best_top{
  width: 100%;
  height: auto;
  color: #fff;
  padding: 100px 0 130px;
}
.best{
  text-align: center;
}
.best h1{
  font-family: "RobotoLight";
  font-size: 32px;
  color: #0f5f5c;
  position: relative;
}
.best h1:before{
  content: "";
  border-bottom: 1px solid #6fb048;
  padding: 28px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.best p{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #83a7a5;
}
.column{
  text-align: center;
}
.column p{
  font-family: "RobotoRegular";
  color: #0f5f5c;
  font-size: 16px;
  font-weight: 600;
}
.column span{
  font-family: "RobotoRegular";
  color: #83a7a5;
  font-size: 14px;
}
.one,.two,.three{
  margin-top: 70px;
}
.pazle{
  width: 100%;
  min-height: 180px;
  background-color: silver;
  color: #000;
  text-align: center;
  line-height: 180px;
}
.dez{
  width: 100%;
  height: 260px;
}
.cross{
  margin-top: 150px;
}
.cross span{
  font-family: "RobotoRegular";
  color: #0f5f5c;
  font-size: 16px;
  font-weight: 600;
  vertical-align: middle;
  padding-left: 24px;
}
.cross p{
  font-family: "RobotoRegular";
  color: #83a7a5;
  font-size: 14px;
}
.looking{
  width: 100%;
  min-height: 670px;
  /*height: auto;*/

  background-color: #eef1ec;
  position: relative;
  padding: 70px 0 0;
}
.looking_for{
  text-align: center;
}
.looking_for h1{
  font-family: "RobotoLight";
  font-size: 32px;
  color: #0f5f5c;
}
.looking_for span{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #83a7a5;
}
.looking_for h1:after{
  content: "";
  padding: 28px;
  border-bottom: 2px solid #6fb048;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 68px;
}
.mobila_img {
  width: 457px;
  height: 528px;
  margin-top: 20px;
  background-image: url(../img/mobila.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  max-width: 400px;
  /*max-height: 400px;*/
}
/*.icon{
  width: 100%;
  height: auto;
  margin-top: 25px;
}*/
.ready{
  margin-top: 150px;
}
.ready_like img{
  padding: 10px 10px 10px 0;
}
.ready h1{
  font-family: "MyriadProRegular";
  font-size: 32px;
  color: #0f5f5c;
}
.ready p{
  font-family: "RobotoRegular";
  font-size: 14px;
  line-height: 22px;
  color: #83a7a5;
}
.ready_like span{
  font-family: "RobotoRegular";
  font-size: 14px;
  color: #83a7a5;
}
.elegant{
  width: 100%;
  min-height: 680px;
  color: #ffffff;
  padding: 140px 0;
}

.text p{
  font-family: "MerriweatherLight";
  font-size: 22px;
  line-height: 40px;
  color: #83a7a5;
}
.text a{
  font-family: "RobotoMedium";
  font-size: 14px;
  color: #6fb048;
}
.text span{
  display: block;
  font-family: "RobotoMedium";
  font-size: 14px;
  color: #83a7a5;
  margin-top: 15px;
}
.foto{
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}
.cub{
  width: 100%;
  height: auto;
 }
.built{
  width: 100%;
  min-height: 500px;
  background-color: #eef1ec;
}
.with{
  padding: 170px 0 150px;
}
.with h1{
  font-family: "RobotoLight";
  font-size: 32px;
  color: #0f5f5c;
}
.with span{
  font-family: "RobotoRegular";
  font-size: 14px;
  color: #83a7a5;
  line-height: 24px;
}
.lend_maps {
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
}
.mapa{
  width: 100%;
  height: auto;
  margin-top: 60px;
}
.plan{
  width: 100%;
  min-height: 1370px;
  background-color: #fff;
  padding: 100px 0;
}
.top_plan{
  text-align: center;
  margin-bottom: 40px;
}
.top_plan h1{
  font-family: "RobotoLight";
  font-size: 32px;
  color: #0f5f5c;
  font-weight: 600;
}
.top_plan span{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #83a7a5;
  line-height: 20px;
}
.top_plan h1:after{
  content: "";
  padding: 28px;
  border-bottom: 2px solid #6fb048;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 68px;
}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.select{
  text-align: center;
  }
.select:nth-child(1){
  border-top:2px solid #c1d3d2 ;
  border-bottom: 2px solid #c1d3d2;
  border-left: 2px solid #c1d3d2;
}
.bord{
  border-right: 2px solid #c1d3d2;
}
.select h3{
  font-family: "RobotoMedium";
  font-size: 15px;
  color: #6fb048;
  text-transform: uppercase;
  font-weight: 600;
}
.select h1{
  font-family: "Monsterat-Regular";
  font-size: 65px;
  color: #0f5f5c;
  margin: 0 auto;
  text-transform: uppercase;
}
.select p{
  font-family: "RobotoRegular";
  font-size: 14px;
  font-weight: 600;
  color: #0f5f5c;
}
.select span{
  font-family: "RobotoRegular";
  font-size: 14px;
  color: #83a7a5;
  font-weight: 600;
  display:block;
  padding: 10px;
  line-height: 28px;
}
.select a{
  font-family: "Monsterat-Regular";
  font-size: 13px;
  color: #fff;
  background-color: #83a7a5;
  padding: 16px 28px;
  text-transform: uppercase;
  border-radius: 2px;
  display: inline-block;
  margin: 10px;
}
.select a:hover{
  background-color: #6fb048;
}
.included h3:after{
  content: "";
  padding: 27px;
  border-bottom: 2px solid #6fb048;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 68px;
}
.included h3{
   font-family: "RobotoLight";
   font-size: 22px;
   color: #0f5f5c;
   text-align: center;
}
.columb{
  margin-top: 35px;
}
.columb img{
  padding: 10px 10px 10px 0;
}
.columb span {
  font-family: "RobotoRegular";
  font-size: 14px;
  color: #83a7a5;
  min-width: 250px;
  display: inline-block;
}
.need{
  text-align: center;
 margin-top: 55px;
}
.need h1{
   font-family: "RobotoLight";
   font-size: 32px;
   color: #6fb048;
}
.need span{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #83a7a5;
  line-height: 20px;
}
.need h1:after{
  content: "";
  border-bottom: 1px solid #6fb048;
  padding: 28px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
}
a mailto{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #0f5f5c;
  font-weight: 600;
}
 .footer_top{
  width: 100%;
  min-height: 200px;
  background-image: url(..//img/fon_footer.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100%;
  background-size: cover;
} 
.left{
  line-height: 22px;
  padding: 74px 0 74px;
}
.left h1{
  font-family: "RobotoLight";
  font-size: 28px;
  color: #0f5f5c;
}
.left span{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #83a7a5;
  font-weight: 600;
}
.right{
  margin: 100px 0 100px 0;
  text-align: center;
}
.right span{
  font-family: "Monsterat-Regular";
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}
.right a{
  background-color: #6fb048;
  padding: 15px 20px;
}
.footer_bottom{
  width: 100%;
  min-height: 300px;
  background-color: #fff;
  padding: 100px 0 100px;
}
.name{
  line-height: 28px;
  /*text-align: center;*/
}
.link{
  display: block;
}
.link mailto{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #0f5f5c;
}
.locality{
  font-family: "ProximaNovaBold";
  font-size: 22px;
  color: #0f5f5c;
  text-transform: uppercase;
}
.value{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #83a7a5;
}
address{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #83a7a5;
}
.title{
  line-height: 28px;
  /*text-align: center;*/
}
.title span{
  display:block;
}
.title .Others{
  font-family: "RobotoMedium";
  font-size:13px ;
  color: #0f5f5c;
  font-weight: 600;
}
.title .company{
  font-family: "RobotoMedium";
  font-size:13px ;
  color: #0f5f5c;
  font-weight: 600;
}
.title span{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #83a7a5;
}
.form .newsletter{
  font-family: "RobotoMedium";
  font-size: 13px;
  color: #0f5f5c;
  font-weight: 600;
}
.form span{
  display: block;
  line-height: 28px;
}
.Subscribe{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #83a7a5;
}
#email{
  font-family: "RobotoRegular";
  font-size: 20px;
  background-color: #eef1ec;
  border: none;
  padding: 14px 0 14px 17px;
  color: #83a7a5;
  font-weight: 600;
  max-width: 267px;
  width: 100%;
  height: auto;
  max-height: 35px;
  margin-top: 20px;
}
.box{
  margin: 20px auto;
  width: 300px;
  height: 50px;
}
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  text-align: center;
}
input[type="text"]{
  outline: none;
}
.container-1 input#search{
  width: 240px;
  /*height: 35px;*/
  padding: 4px 7px 6px 10px;
  background: #eee;
  border: none;
  font-size: 15px;
  float: left;
  color: #63717f;
 /* padding-left: 15px;
  padding-right: 35px;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 210px;
  margin-top: 5px;
  z-index: 1;
  color: #6fb048;
  width: 25px;
  font-size: 14px;
}
.social{
  width: 100%;
  height: auto;
  background-color: #fff;
  border-top: 1px solid #eef1ec;
}
.coca{
  height: 50px;
  line-height: 50px;
}
.all{
  font-family: "RobotoRegular";
  font-size: 12px;
  color: #83a7a5;
  font-weight: 800;
}
.soc_buttons{
  float: right;
  line-height: 50px;
}
.soc_buttons a{
  padding-right: 10px;
}


/*about us*/

.looking-for h1{
  font-family: "RobotoLight";
  font-size: 32px;
  color: #0f5f5c;
  text-align: center;
}
.looking-for span{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #83a7a5;
  margin: 0 auto;
  text-align: center;
  width: 75%;
  /*padding: 42px 211px 88px;*/
  display: block;
}
.looking-for h1:after{
  content: "";
  padding: 28px;
  border-bottom: 2px solid #6fb048;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 68px;
}
.fotos{
  margin: 90px 0px 115px;
}
.fotos h3{
  font-family: "RobotoMedium";
  font-size: 15px;
  color: #0f5f5c;
}
.fotos p{
  font-family: "RobotoRegular";
  font-size: 14px;
  color: #83a7a5;
}
a mailto{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #0f5f5c;
  font-weight: 600;
}
 .footer_top{
  width: 100%;
  min-height: 200px;
  background-image: url(..//img/fon-dreen_footer.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100%;
  background-size: cover;
} 
.left{
  line-height: 22px;
  padding: 74px 0 74px;
}
.left h1{
  font-family: "RobotoLight";
  font-size: 28px;
  color: #e0ecda;
}
.left span{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}
.right{
  margin: 120px 0 100px 0;
  text-align: center;
}
.right span{
  font-family: "Monsterat-Regular";
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}
.right a{
  background-color: #49732f;
  padding: 17px 22px;
}
.footer_bottom{
  width: 100%;
  min-height: 300px;
  background-color: #fff;
  padding: 100px 0 100px;
}
.name{
  line-height: 28px;
}
.link{
  display: block;
}
.link mailto{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #0f5f5c;
}
.locality{
  font-family: "ProximaNovaBold";
  font-size: 22px;
  color: #0f5f5c;
  text-transform: uppercase;
}
.value{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #83a7a5;
}
address{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #83a7a5;
}
.title{
  line-height: 28px;
  /*text-align: center;*/
}
.title span{
  display:block;
}
.title .Others{
  font-family: "RobotoMedium";
  font-size:13px ;
  color: #0f5f5c;
  font-weight: 600;
}
.title .company{
  font-family: "RobotoMedium";
  font-size:13px ;
  color: #0f5f5c;
  font-weight: 600;
}
.title span{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #83a7a5;
}
.form .newsletter{
  font-family: "RobotoMedium";
  font-size: 13px;
  color: #0f5f5c;
  font-weight: 600;
}
.form span{
  display: block;
  line-height: 28px;
}
.Subscribe{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #83a7a5;
}
#email{
  font-family: "RobotoRegular";
  font-size: 20px;
  background-color: #eef1ec;
  border: none;
  padding: 14px 0 14px 17px;
  color: #83a7a5;
  font-weight: 600;
  max-width: 267px;
  width: 100%;
  height: auto;
  max-height: 35px;
  margin-top: 20px;
}
.box{
  margin: 20px auto;
  width: 300px;
  height: 50px;
}
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  text-align: center;
}
input[type="text"]{
  outline: none;
}
.container-1 input#search{
  width: 240px;
  height: 35px;
  background: #eee;
  border: none;
  font-size: 15px;
  float: left;
  color: #63717f;
  padding-left: 15px;
  padding-right: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 210px;
  margin-top: 5px;
  z-index: 1;
  color: #6fb048;
  width: 25px;
  font-size: 14px;
}
.social{
  width: 100%;
  height: auto;
  background-color: #fff;
  border-top: 1px solid #eef1ec;
}
.coca{
  height: 50px;
  line-height: 50px;
}
.all{
  font-family: "RobotoRegular";
  font-size: 12px;
  color: #83a7a5;
  font-weight: 800;
}
.soc_buttons{
  float: right;
  line-height: 50px;
}
.soc_buttons a{
  padding-right: 10px;
}

/*pricing page*/


.main-head{
  width: 100%;
  min-height: 100px;
  background: #eef1ec;
}
.main-head .menu_head_left>span{
  display: inline-block;
  font-family: "ProximaNovaBold";
  font-size: 28px;
  color: #0f5f5c;
  text-transform: uppercase;
  vertical-align: middle;
  padding-right: 20px;
  letter-spacing: 1px;
}
.main-head .phone{
  border-left: 1px solid #b8ccc8;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}
.main-head .phone i{
  display: inline-block;
  font-size: 15px;
  color: #a3bdba;
  vertical-align: middle;
}
.main-head .phone span{
  display: inline-block;
  font-family: "Monsterat-Regular";
  font-size: 13px;
  color: #83a7a5;
  vertical-align: middle;
  font-weight: 700;
  line-height: 
}
.plan_p{
  background: #eef1ec;
  padding-bottom: 50px;
}
.plan_p .select{
  background-color: #fff;
}
.teg{
  padding: 50px 0;
}

.plan_p .text span{
  text-align: center;
  padding-top: 30px;
}
.main-head .nav_menu a{
  list-style-type: none;
  display: inline-block;
  color: #83a7a5;
  text-transform: uppercase;
}
.main-head .nav_menu li:last-child{
  
}
.main-head .nav_menu li{
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Monsterat-Regular";
  font-size: 13px;
  line-height: 33px;
}
.main-head .color a{
  color: #fff;
}
.color a{
  background-color: #6fb048;
  border-radius: 4px;
  padding: 5px;
}
.main-head .menu_head{
  padding: 30px 0;
  border-bottom: 1px solid #b8ccc8;
}
.main-head .nav_menu a:hover{
  color: #000;
  transition: .3s;
}
.main-head .nav_menu a{
  transition: .3s;
}
.main-head .color a:hover{
  color: #000;
}
.main-head .main_mnu_button{
  color: #0f5f5c;
}

/*contact page*/

.maps_adress{
  width: 100%;
  min-height: 328px;
  background-image: url(../img/maps.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100%;
  background-size: cover;
}
.plan{
  width: 100%;
  min-height: 765px;
  background-color: #fff;
  padding: 60px 0;
}
.top_plan{
  text-align: center;
  margin-bottom: 40px;
}
.top_plan h1{
  font-family: "RobotoLight";
  font-size: 32px;
  color: #0f5f5c;
  font-weight: 600;
}
.top_plan h1:after{
  content: "";
  padding: 28px;
  border-bottom: 2px solid #6fb048;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 68px;
}
.top_plan span{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #83a7a5;
  line-height: 20px;
}
.main_form{
  text-align: center;
}
.form-group {
  display: block;
  margin-bottom: 25px;
}
.form-group .color_element {
  font-weight: 700;
  font-size: 18px; 
}
.form-group .text-danger {
  font-size: 11px;
  margin-top: 5px;
  display: block;
}
.form-group .text-danger ul,
.form-group .text-danger li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.form-group textarea {
  min-height: 150px; 
}

.main_form button {
  padding: 8px 25px;
  border-radius: 0px;
  background-color: #6fb048;
  border: 1px solid #6fb048;
  color: #fff;
  margin-top: 20px;
  float: left;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Monsterat-Regular";
  color:#fff;
}
.form-group input,
.form-group textarea {
  display: block;
  width: 90%;
  margin-top: 5px;
  border: 1px solid #ccc;
  text-indent: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "RobotoRegular";
  background-color: #fff;
  -webkit-input-placeholder: #8ad159;
  -moz-placeholder: #8ad159;
  -moz-placeholder: #8ad159;
  -ms-input-placeholder: #8ad159; 
}
.locality_right{
  font-family: "RobotoLight";
  font-size: 22px;
  color: #0f5f5c;
  text-transform: uppercase;
  display: block;
  padding: 57px 0 30px
}
.address_right{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #83a7a5;
}
.tel_right{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #83a7a5;
}
address{
  display: block;
  padding: 10px 0 10px
}
.link_right{
  padding-left: 10px;
}
.name_contact{
  border: 2px dashed #c1d3d2;
  width: 100%;
  min-height: 270px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
.joi_right{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #83a7a5;
  padding-bottom: 30px;
}
.tel{
  padding-left: 10px;
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #83a7a5
}
.hi_right{
  padding-top: 15px;
  padding-bottom: 55px;
  font-family: "RobotoRegular";
  font-size: 15px;
  font-weight: 600;
}
.hi_right mailto{
  color: #0f5f5c;
}
 .footer_top{
  width: 100%;
  min-height: 200px;
  background-image: url(..//img/fon_footer.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100%;
  background-size: cover;
} 
.left{
  line-height: 22px;
  padding: 74px 0 74px;
}
.left h1{
  font-family: "RobotoLight";
  font-size: 28px;
  color: #0f5f5c;
}
.left span{
  font-family: "RobotoRegular";
  font-size: 15px;
  color: #83a7a5;
  font-weight: 600;
}
.right{
  margin: 100px 0 100px 0;
  text-align: center;
}
.right span{
  font-family: "Monsterat-Regular";
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}
.right a{
  background-color: #6fb048;
  padding: 15px 20px;
}
.footer_bottom{
  width: 100%;
  min-height: 300px;
  background-color: #fff;
  padding: 100px 0 100px;
}
.name{
  line-height: 28px;
}
.link{
  display: block;
}
.link mailto{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #0f5f5c;
}
.value{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #83a7a5;
}
.title{
  line-height: 28px;
}
.title span{
  display:block;
}
.title .Others{
  font-family: "RobotoMedium";
  font-size:13px ;
  color: #0f5f5c;
  font-weight: 600;
}
.title .company{
  font-family: "RobotoMedium";
  font-size:13px ;
  color: #0f5f5c;
  font-weight: 600;
}
.title span{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #83a7a5;
}
.form .newsletter{
  font-family: "RobotoMedium";
  font-size: 13px;
  color: #0f5f5c;
  font-weight: 600;
}
.form span{
  display: block;
  line-height: 28px;
}
.Subscribe{
  font-family: "RobotoRegular";
  font-size: 13px;
  color: #83a7a5;
}
#email{
  font-family: "RobotoRegular";
  font-size: 20px;
  background-color: #eef1ec;
  border: none;
  padding: 14px 0 14px 17px;
  color: #83a7a5;
  font-weight: 600;
  max-width: 267px;
  width: 100%;
  height: auto;
  max-height: 35px;
  margin-top: 20px;
}
.box{
  margin: 20px auto;
  width: 300px;
  height: 50px;
}
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  text-align: center;
}
input[type="text"]{
  outline: none;
}
.container-1 input#search{
  width: 240px;
  height: 35px;
  background: #eee;
  border: none;
  font-size: 15px;
  float: left;
  color: #63717f;
  padding-left: 15px;
  padding-right: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 210px;
  margin-top: 5px;
  z-index: 1;
  color: #6fb048;
  width: 25px;
  font-size: 14px;
}
.social{
  width: 100%;
  height: auto;
  background-color: #fff;
  border-top: 1px solid #eef1ec;
}
.coca{
  height: 50px;
  line-height: 50px;
}
.all{
  font-family: "RobotoRegular";
  font-size: 12px;
  color: #83a7a5;
  font-weight: 800;
}
.soc_buttons{
  float: right;
  line-height: 50px;
}
.soc_buttons a{
  padding-right: 10px;
}
.head_contact .menu_head_left>span{
  display: inline-block;
  font-family: "ProximaNovaBold";
  font-size: 28px;
  color: #0f5f5c;
  text-transform: uppercase;
  vertical-align: middle;
  padding-right: 20px;
  letter-spacing: 1px;
}
.head_contact .phone{
  border-left: 1px solid #b8ccc8;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}
.head_contact .phone i{
  display: inline-block;
  font-size: 15px;
  color: #a3bdba;
  vertical-align: middle;
}
.head_contact .phone span{
  display: inline-block;
  font-family: "Monsterat-Regular";
  font-size: 13px;
  color: #83a7a5;
  vertical-align: middle;
  font-weight: 700;
  line-height: 
}
.head_contact .main_mnu_button{
  color: #0f5f5c;
}


/*.head_contact .color a{
  color: #fff;
}
.head_contact .nav_menu a:hover{
  color:#7da6d8;
}
.head_contact .color a:hover{
  color: #ffff00;
}*/

.head_contact .nav_menu a:hover{
  color: #000;
  transition: .3s;
}
.head_contact .nav_menu .color a{
  color: #fff;
}
.head_contact .nav_menu li a{
  color: #83a7a5;
}